<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <h4> <%= t('.passing_title', title: @test_passage.test.title) %> </h4>

    <b>
      <p> <%= @test_passage.current_question.body %> </p>
      <p> <%= t('.current_question', current_number: @test_passage.question_number, out_of: @test_passage.total_questions) %> </p>
    </b>

    <%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
      <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
        <p>
          <%= b.check_box id: "answer_ids_#{b.object.id}"%>
          <%= b.label %>
        </p>
      <% end %>
      <p> <%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post %> </p>
      <p> <%= form.submit 'Next' %> </p>
    <% end %>
  </div>
</div>