<h1> Question for test: <%=  @question.test.title %></h1>

<p><%= @question.body %></p>

<h2> Answers </h2>

<table>
  <tr>
    <th> Answer </th>
    <th> Correct? </th>
    <th colspan="2"> Actions </th>
  </tr>
  <%= render @question.answers %>
</table>

<%= link_to 'New Answer', new_admin_question_answer_path(@question) %> | 
<%= link_to 'Back to the test', admin_test_path(@question.test)%>
