<div class="container mt-5">
  <h4 class="text-md-center"><%= t('.header') %></h4>

  <%= render 'shared/errors', resource: @test %>

    <table class="table table-bordered mt-3">
      <tr>
        <th class="sort-by-title pointer">
          <%= t('.title') %>
          <%= octicon 'arrow-up', class: 'text-success hide' %>
          <%= octicon 'arrow-down', class: 'text-success hide' %>
        </th>
        <th><%= t('.level') %></th>
        <th><%= t('.question_num') %></th>
        <th colspan="4"><%= t('.actions') %></th>
      </tr>
      <%= render @tests %>
    </table>
  <p><%= link_to t('.new_test'), new_admin_test_path %></p>
  <p><%= link_to t('.gists'), admin_gists_path %></p>
</div>
